<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <!-- Teléfono -->
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono" type="tel"></ion-input>
    </ion-item>

    <!-- Fecha -->
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="fecha" presentation="date"></ion-datetime>
    </ion-item>

    <!-- Hora -->
    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime formControlName="hora" presentation="time"></ion-datetime>
    </ion-item>

    <!-- Botón de Enviar -->
    <ion-button expand="full" type="submit" [disabled]="!formulario.valid">
      Enviar
    </ion-button>
  </form>
</ion-content>
