<ion-header>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="all">Paquetes</ion-segment-button>
    <ion-segment-button value="long">Video</ion-segment-button>
    <ion-segment-button value="short">Renta</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let service of filteredServices()">
        <ion-card>
          <img [src]="service.image" />
          <ion-card-content>
            <h2>{{ service.name }}</h2>
            <p>${{ service.price }}</p>
            <ion-button expand="full" color="primary" (click)="verDetalles(service)">Ver detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
