ion-card {
  background: #222; // Color oscuro para que el texto blanco resalte
  color: white; // Hace que el texto dentro de la tarjeta sea blanco

  ion-card-content {
    h2, p {
      color: white !important; // Forzar texto blanco en títulos y precios
    }
  }
}

ion-button {
  &.detalles {
    --background: white; // Fondo blanco
    --color: rgb(255, 255, 255); // Texto negro para contraste
  }
}


