<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Contenido del menú.
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Botón del Menú con etiqueta -->
      <ion-buttons slot="start" class="menu-button-container">
        <ion-menu-button></ion-menu-button>
        <ion-label class="menu-label">Servicios</ion-label>
      </ion-buttons>

      <ion-title></ion-title>

      <!-- Botón del Carrito -->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon color="secundary" slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="todos">Paquetes</ion-segment-button>
      <ion-segment-button value="video">Video</ion-segment-button>
      <ion-segment-button value="renta">Renta</ion-segment-button>
    </ion-segment>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let service of filteredServices()">
          <ion-card (click)="verDetalles(service)">
            <!-- Mostrar video si la categoría es 'video' -->
            <div *ngIf="service.category === 'video'">
              <video width="100%" controls>
                <source [src]="service.image" type="video/mp4" />
                Tu navegador no soporta la etiqueta de video.
              </video>
            </div>
            <!-- Mostrar imagen si no es un video -->
            <div *ngIf="service.category !== 'video'">
              <img [src]="service.image" />
            </div>
            <ion-card-content>
              <h2>{{ service.name }}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
