<ion-content class="ion-padding">
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Menú lateral -->
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/perfil">
          <ion-icon name="person" slot="start"></ion-icon>
          Perfil
        </ion-item>
        <ion-item routerLink="/ajustes">
          <ion-icon name="settings" slot="start"></ion-icon>
          Consultas
        </ion-item>
        <ion-item (click)="cerrarSesion()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>


        <!-- Botón del Menú con etiqueta -->
        <ion-buttons slot="start" class="menu-button-container">
          <ion-menu-button></ion-menu-button>
          <ion-label class="menu-label">MENU</ion-label>
        </ion-buttons>

        <ion-title></ion-title>



        <!-- Botón del Carrito -->
        <ion-buttons slot="end">
          <ion-button routerLink="/carrito">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Sección de Bienvenida -->
    <ion-content class="ion-padding">


      <p class="bienvenidos-text">Bienvenidos</p> <!-- Texto en cursiva alineado a la izquierda -->

      <div class="welcome-section">
        <div class="logo-container">
          <img src="https://scontent.fjal3-1.fna.fbcdn.net/v/t39.30808-6/358442208_101583813009272_1577312484104664912_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=JSa1V7Lef3gQ7kNvgHnJ-MO&_nc_oc=Adjx5cfECy6WiM_oWpyKiCzLigy5dityIVBE4LC6qGMzn2VAopTbygBt0AJ0TFJG2v7OPiMS6738ZRDqNm3GR5rg&_nc_zt=23&_nc_ht=scontent.fjal3-1.fna&_nc_gid=Af749Ad-c6S7YUYVQGMAwam&oh=00_AYBcjVvwYq77i6DX-A4OpRkWlJAT0809Im6ATWBszn6JUg&oe=67B1641B" alt="Logo">
        </div>
        <h1>Studio AF</h1>
        <ion-button  routerLink="/reserva-cita" color="secundary" expand="full" class="big-reserve-button" >
          <ion-icon slot="start" name="calendar"></ion-icon>
          Reservar cita
        </ion-button>
      </div>

      <!-- Sección de Productos -->
      <h3 class="productos-titulo">Productos</h3>

      <div class="barra-botones">
        <ion-searchbar (ionInput)="buscarProducto($event)" placeholder="Buscar productos"></ion-searchbar>

        <div class="vista-productos">
          <ion-button fill="clear" (click)="cambiarVista('grid')">
            <ion-icon name="grid"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="cambiarVista('list')">
            <ion-icon name="list"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Vista de Productos -->
      <div [ngClass]="vistaProductos">
        <ion-list *ngIf="vistaProductos === 'list'">
          <ion-item *ngFor="let producto of productosFiltrados" class="custom-list-item">
            <ion-thumbnail slot="start">
              <img [src]="producto.image" alt="Producto">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ producto.nombre }}</h2>
              <p>{{ producto.descripcion }}</p>
              <ion-button fill="solid" color="primary" [routerLink]="['/detalle-producto', producto.id]">
                Ver
                <ion-icon slot="end" name="cart"></ion-icon>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-grid>
          <ion-row>
           
            <ion-col size="6" *ngFor="let producto of productosFiltrados">
              <ion-card class="producto-card" (click)="verDetalles(producto.id)">
                <div class="imagen-container">
                  <img [src]="producto.image" alt="Producto" class="producto-img">
                </div>
                <ion-card-content>
                  <h2 class="producto-nombre">{{ producto.nombre }}</h2>
                  <p class="producto-precio">
                    <span class="precio-descuento">{{ producto.precio | currency:'USD' }}</span>
                    <span class="precio-original">{{ producto.precio | currency:'USD' }}</span>
                  </p>
                  <div class="boton-container">
                    <ion-button fill="solid" color="primary" (click)="agregarAlCarrito(producto); $event.stopPropagation()">
                      Agregar
                      <ion-icon slot="end" name="cart"></ion-icon>
                    </ion-button>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </div>
</ion-content>
